<%@ Master Language="C#" AutoEventWireup="true" CodeFile="Site.master.cs" Inherits="SiteMaster" %>

<!DOCTYPE html>

<html lang="zh">
<head runat="server">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>人事管理系统</title>

    <asp:PlaceHolder runat="server">
        <%: Scripts.Render("~/bundles/modernizr") %>
    </asp:PlaceHolder>
    <webopt:bundlereference runat="server" path="~/Content/css" />
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />

    <style>
        .navbar-nav > li > a { padding: 10px 12px; font-size: 14px; }
        .navbar-brand { font-weight: bold; }
        .body-content { margin-top: 70px; }
        @@media print {
            .navbar, footer, .btn, .no-print { display: none !important; }
            .body-content { margin-top: 0; }
        }
    </style>
</head>
<body>
    <form runat="server">
        <asp:ScriptManager runat="server">
            <Scripts>
                <asp:ScriptReference Name="MsAjaxBundle" />
                <asp:ScriptReference Name="jquery" />
                <asp:ScriptReference Name="bootstrap" />
                <asp:ScriptReference Name="WebForms.js" Assembly="System.Web" Path="~/Scripts/WebForms/WebForms.js" />
                <asp:ScriptReference Name="WebUIValidation.js" Assembly="System.Web" Path="~/Scripts/WebForms/WebUIValidation.js" />
                <asp:ScriptReference Name="GridView.js" Assembly="System.Web" Path="~/Scripts/WebForms/GridView.js" />
                <asp:ScriptReference Name="DetailsView.js" Assembly="System.Web" Path="~/Scripts/WebForms/DetailsView.js" />
                <asp:ScriptReference Name="TreeView.js" Assembly="System.Web" Path="~/Scripts/WebForms/TreeView.js" />
            </Scripts>
        </asp:ScriptManager>

        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse" title="更多选项">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" runat="server" href="~/">HRMS 人事管理系统</a>
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li><a runat="server" href="~/Default.aspx">首页</a></li>
                        <li id="navEmployee" runat="server"><a runat="server" href="~/Employee/EmployeeList.aspx">员工管理</a></li>
                        <li id="navDepartment" runat="server"><a runat="server" href="~/Department/DeptTree.aspx">部门管理</a></li>
                        <li id="navLeave" runat="server"><a runat="server" href="~/Leave/LeaveApply.aspx">休假管理</a></li>
                        <li id="navAttendance" runat="server"><a runat="server" href="~/Attendance/CheckIn.aspx">考勤打卡</a></li>
                        <li id="navOvertime" runat="server"><a runat="server" href="~/Overtime/OvertimeEdit.aspx">加班管理</a></li>
                        <li id="navSalary" runat="server"><a runat="server" href="~/Salary/SalaryEdit.aspx">工资管理</a></li>
                        <li id="navReport" runat="server"><a runat="server" href="~/Report/EmployeeRoster.aspx">报表打印</a></li>
                        <li id="navEventLog" runat="server"><a runat="server" href="~/EventLog/EventLogList.aspx">事件日志</a></li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li>
                            <p class="navbar-text" style="margin-right:10px;">
                                <asp:Literal runat="server" ID="litUserInfo" />
                            </p>
                        </li>
                        <li id="btnLogout" runat="server">
                            <asp:LinkButton runat="server" CssClass="btn btn-sm btn-danger navbar-btn" Text="退出登录" OnClick="btnLogout_Click" />
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="container body-content">
            <asp:ContentPlaceHolder ID="MainContent" runat="server">
            </asp:ContentPlaceHolder>
            <hr class="no-print" />
            <footer class="no-print">
                <p>&copy; <%: DateTime.Now.Year %> - 人事管理系统 HRMS</p>
            </footer>
        </div>
    </form>
</body>
</html>
